/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Parkinsans", serif;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
body {
    background-color:rgb(248, 240, 242) ;
    line-height: 1.5;
}
ul, ol {
    list-style: none;
}
.flux {
    max-width: 1800px;
    margin-left: 75px;
    margin-right: 75px;
}

.image-giraffe{
    background: no-repeat url("../images/gira.jpg");
    background-size: cover;
    background-position: center;

}
/* START HEADER */
.header {
    padding: 5px 15px ;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, rgb(61, 135, 71), rgb(135, 172, 135));
}
.logo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    transition: transform 0.5s;
}
.logo:hover{
    transform: rotate(1turn);
}
h1 {
    text-transform: uppercase;
    text-emphasis-color: rgb(81, 110, 23);
    color: rgb(25, 28, 20);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 10px;
}
.nav-link{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
}
.ticket-button {
    border: 0;
    padding: 5px;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
    );
    transition: background-color 0s linear;
}

.ticket-button:hover {
    background-color: white;
}
.explore-link {
        padding: 10px;
    border-radius: 10px;
    text-align: center;
}
/* START HERO */
.infos-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.barre-recherche {
    margin: 0;
    border: 1px solid black;
}
.horaires, .contact {
    display: inline;
    flex-direction: column;
}
p, h1, h2, ul{
    overflow:auto;
} 
.visitez-nous{
    text-align: center;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto; 
    margin-right: auto; 
    /* Ici, on laisse les margin pour le responsive */
}
.hero{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav a:hover {
    background-color: rgb(170, 212, 170);
    padding: 5px;
    border-radius: 5px;;
}
nav a {
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.25s ease-in-out;
}
.file, .elephant, .tortue {
    display: flex;
    height: 15vh;
    border-radius: 10px; 
    max-width: 33vw;

}
.separateur {
    height: 20vh;
    background-color: transparent;

}
.avis {
    display: block;
    flex-direction: column;
    padding: 3px 6px;
}
h4, legend {
    font-style: bold;
}
fieldset{
    margin: 5px 0;
    width: 30vw;
}
.submit {
    display: block;
}
hr {
    color: black;
}
footer {
    margin-bottom: 20px;
}
@media (max-width: 500px) {
    .flux {
        margin-left: 5px;
        margin-right: 5px;
    }
    .header, .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .barre-recherche {
        opacity: 0;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .explore-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .arriver, .terre, .eau {
        width: 130px;
        height: 130px;   
    }
    .textarea {
    overflow:hidden ;
    }
}
.hov-test {
    margin: 50px 50px;
    width: 30px;
    height: 30px;
    background-color: hsl(32, 76%, 50%);
    transition:
    background-color 2s cubic-bezier(.36,2.06,.51,.04),
    transform 2s linear;
    transition-delay: 0ms;
}
.hov-test:hover{
    background-color: rgb(196, 57, 2);
    transform: rotate(180deg);
}

/* QUAND ON ARRIVE - HEADER */
.hero-plan{
    display: flex;   
}
.img-header-qoa{
    width: 35%;
    flex-shrink: 0;
    margin-left: 75px;
    margin-right: 75px;
}
.login {
    display: block;
}
.boutton-itineraire {
    padding: 2px;
}
/* LES AQUATIQUES  */

.image-pingouin {
    width: 35%; 
    flex-shrink: 0;
    }

.info-terriens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding-top: 20px;   
    margin-bottom: 50px; 
}
.title-2{
    width: 50%;
    font-size: 30px;
    margin-bottom: 20px;
}


/* VETO */
    .aside-container {
        width: 25%;
        padding: 30px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-radius: 1vw;
        background-color: rgb(219, 200, 238);
        margin-top: 35px;
        margin-bottom: 35px;
        
    }
    .veto-list, li{
        text-align: center;
    }
    li {
        list-style: none;
        font-size: small;
    }

    /* tickets */

.achat-tickets {
    background-color:rgb(173, 59, 114);
}
.tickets {
    background-color:rgb(241, 220, 26);
    display: flex;
    flex-direction: column;
    width: 50%;;
    padding: 10px;
}
